<mat-toolbar color="primary">
  <button mat-icon-button (click)="isMenuOpened = !isMenuOpened"><mat-icon>menu</mat-icon></button>

  <h1 class="app-name">My money</h1>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #snav mode="side" fixedTopGap="65" disableClosed="true" opened="true" fixedInViewport="true">
    <mat-nav-list class="menu-list">
      <a mat-list-item routerLink="." class="menu-item"
        ><mat-icon>account_balance</mat-icon><span class="menu-item-text" *ngIf="isMenuOpened">Obligacje</span></a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <app-bond-overview></app-bond-overview>
    <app-bond-overview></app-bond-overview>
    <app-bond-overview></app-bond-overview>
  </mat-sidenav-content>
</mat-sidenav-container>
